[submodule "IRMA"]
	path = IRMA
	url = https://github.com/Shahbazi-Amir/IRMA.git
[submodule "master_test_codex"]
	path = master_test_codex
	url = https://github.com/Shahbazi-Amir/master_test_codex.git
[submodule "Political"]
	path = Political
	url = https://github.com/Shahbazi-Amir/Political.git
[submodule "Book_Production"]
	path = Book_Production
	url = https://github.com/Shahbazi-Amir/Book_Production.git
[submodule "Project_Brain_Master"]
	path = Project_Brain_Master
	url = https://github.com/Shahbazi-Amir/Project_Brain_Master.git
[submodule "Brain_Agent_Book"]
	path = Brain_Agent_Book
	url = https://github.com/Shahbazi-Amir/Brain_Agent_Book.git
